<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="32719PlamenDenev.HungryBob" Publisher="CN=7783B963-7180-43BD-9D08-DCD4897A2448" Version="1.1.0.15" />
  <mp:PhoneIdentity PhoneProductId="9ad06372-2523-454d-855e-f06ec0818b0a" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>HungryBob</DisplayName>
    <PublisherDisplayName>PlamenDenev</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="HungryBob.App">
      <m3:VisualElements DisplayName="HungryBob" Square150x150Logo="Assets\150.png" Square44x44Logo="Assets\SmallLogo.png" Description="HungryBob" ForegroundText="light" BackgroundColor="transparent">
        <m3:LockScreen Notification="badge" BadgeLogo="Assets\BadgeLogo.png" />
        <m3:DefaultTile Wide310x150Logo="Assets\WideLogo.png" Square71x71Logo="Assets\71.png">
        </m3:DefaultTile>
        <m3:InitialRotationPreference>
          <m3:Rotation Preference="landscape" />
        </m3:InitialRotationPreference>
        <m3:SplashScreen Image="Assets\splash.png" BackgroundColor="transparent" />
      </m3:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="HungryBob">
          <BackgroundTasks>
            <Task Type="audio" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>